:root {
    --bg-gray: #f2f2f2;
    --light-gray: #b3b3b3;
    --dark-gray: rgb(110, 110, 110); 
    --darker-gray: rgb(69, 69, 69);
}


body {
    font-family: arial;
}

header {
    position: absolute;
    top: 0px;
    height: 50px;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;    
}

footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: var(--bg-gray);
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;    
}

a {
    text-decoration: none;
    color: var(--darker-gray);
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

input[type="search"] {
    height: 42px;
    width: 420px;
    margin: 30px;
    padding: 20px 10px 20px 50px;
    border: 1px solid;
    border-color: var(--bg-gray);
        font-size: 14px;
    border-radius: 26px;
    color: black;
    background-image: url('/images/search_black_24dp.svg');
    background-position: 15px 10px;
    background-repeat: no-repeat;
}

input[type="search"]:hover {
    box-shadow: 0px 0px 2px var(--light-gray);
}

input[type="search"]:focus {
    outline: none;
    box-shadow: 0px 0px 2px var(--light-gray);
}

button {
    background-color: var(--bg-gray);
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--dark-gray); 
    font-size: 14px;
    text-align: center;
    margin: 3px;
    padding: 8px 15px;
}

button:hover {
    background-color: #f8f8f8;
    color: black;
    border: 1px solid var(--light-gray);
    box-shadow: 0px 0px 1px var(--light-gray);
}

.center {
    text-align: center;
    margin-top: 150px;
}

#sign-in {
    background-color: rgb(81, 148, 211);
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    font-weight: bold;
    margin: 0px;
    padding: 6px 12px;
}